{% extends "base" %}
{% block title %}Index{% endblock title %}
{% block head %}
{% endblock head %}
{% block content %}
<h1>Home</h1>
<a href="{{register_path}}">Register for an account</a>

{% for user in users %}
  <li>{{ user.name }}</li>
{% endfor %}

{% endblock content %}
